<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite"> 
 
  <test name="Keyword driven testing">
  <parameter name="browserName" value="chrome" />
    <classes>
      <class name="nisha.controller.TestController"/> 
    </classes>
  </test> 

</suite> 